@using PAWScrum.Models
@model SprintBacklogItem

<h2>Details of Item</h2>

<div>
    <h4>Ítem ID: @Model.SprintItemId</h4>
    <dl class="row">
        <dt class="col-sm-2">Sprint ID</dt>
        <dd class="col-sm-10">@Model.SprintId</dd>

        <dt class="col-sm-2">Product Backlog Item ID</dt>
        <dd class="col-sm-10">@Model.ProductBacklogItemId</dd>

        <dt class="col-sm-2">Assigned to(User ID)</dt>
        <dd class="col-sm-10">@Model.AssignedTo</dd>

        <dt class="col-sm-2">Status</dt>
        <dd class="col-sm-10">@Model.Status</dd>

        <dt class="col-sm-2">Estimated Hours</dt>
        <dd class="col-sm-10">@Model.EstimationHours</dd>

        <dt class="col-sm-2">Hours Completed</dt>
        <dd class="col-sm-10">@Model.CompletedHours</dd>
    </dl>
</div>

<p>
    <a href="@Url.Action("Edit", new { id = Model.SprintItemId })" class="btn btn-primary">Edit</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Back to List</a>
</p>